     	body{
    		margin:20px;
    		border:black solid;
    	}

    	.audio {
 width: 100%;
 border:black;
 }
 .modal-footer {
 text-align: center;
 }
 .form-audio {
 margin-left: 350px;
 }
 .page-header {
 text-align: center;
 }

 .upload{
 	top:50%;
 	bottom:50%;
 	transform: translate(-50%,-50%);
 	border:black solid;
 }



 /*song detail html css*/
