<!DOCTYPE html>
<html>

    <head>
        <title>Music Manager</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
              <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base_custom.css') }}"/>
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">Music Management App</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <div class="about">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="http://knowyokesh.herokuapp.com/">About</a>
                        </li>
                    </div>
                        <div class="Postsong">
                        <li class="nav-item text-black">
                            <a class="nav-link text-white font-weight-bold" href="{{ url_for('upload') }}"><i class="fa fa-upload"></i>    Upload a Song</a>
                        </li>
                        </div>


                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Yokesh</p>
        </footer>
    </body>
</html>



