{% extends "base.html" %} 
{% block content %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Explore Songs of your choice </h3>
                    <p class="text-light"> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for song in song_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><a href="{{ url_for('index_detail',song_slug=song.slug) }}"><i class="fa fa-music"></i> {{ song.filename }}</a></h2>
                    <label>Title</label><p class="card-text text-muted h6" padding-left="20px">{{ song.title }} </p>
                    <label>Artist</label><p class="card-text text-muted h6" padding-left="20px">{{ song.artist }} </p>
                    <label>Album</label><p class="card-text text-muted h6" padding-left="20px">{{ song.album }} </p>
                    <hr>
                    <div class="utility">
                        <a class="delete" href="{{ url_for('delete',song_slug=song.slug) }}"><i class="fa fa-trash"></i>  Delete</a>
                        <a class="download" href="{{ url_for('download',song_filename=song.filename) }}"><i class="fa fa-download"></i>  Download</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}