<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
    <title>Upload song</title>
</head>
<body>
<div class="form-audio">
    <h2>Upload Song</h2>
</div>
<div>
	<h4>Search</h4>
	<form class="form-inline" method="GET" action="search">
		<div class="form-group">
			<input type='text' class="form-control" name="query" id="query" placeholder="Search with title,artist">

		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
</div>
<div class="Add-song">
    <a href="{{ url_for('upload') }}">Add a song</a>
    {% for songs in song_list %}
    <a href="{{ url_for('index_detail',song_slug=songs.slug) }}"><p>{{songs.title}}</p></a>
    <p>{{ songs.album }}</p>
    <p>{{ songs.artist }}</p>
    <h3><a href="{{ url_for('delete',song_slug=songs.slug) }}"><p>delete</p></a></h3>
    <h3><a href="{{ url_for('download',song_filename=songs.filename) }}"><p>download</p></a></h3>
    <br><hr><br>
    {% endfor %}
</div>
</body>
</html>

