<html>
<head>
	<title>{{ song.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_custom.css') }}"/>	

</head>
<body>
	<div class="upload-header">
		
	</div>
	<div class="upload">
        <h1>Play and Enjoy {{ song.filename }} </h1>
        <br>
    <h3>Title</h3><p>{{song.title}}</p>
    <br>
    <h3>Album</h3><p>{{ song.album }}</p>
    <br>
    <h3>Artist</h3>{{ song.artist }}</p>
    <br>
     <div class="hero-unit">
        <audio class="audio" controls>
            <source src="static/uploads/{{ song.filename }}" type="audio/mpeg">
        </audio><hr/>
    </div>
</div>
</body>
</html>